In [32]:
import pandas as pd
import numpy as np

fh = '../files/coll151_scores.csv'
df = pd.read_csv(fh, index_col=[0, 1])
df.head()

,,Collection_count,Collection_Description_count,Title_count,Personal_Name_count,Corporate_Name_count,Role_count,Description_count,Note_count,Type_count,Genre_count,...,File_Name_count,Subject_Topic_count,Subject_Personal_Name_count,Subject_Corporate_Name_count,Location_count,Publisher_count,Place_of_Publication_count,Extent_count,Date_Created_count,Date_Issued_count
,Identifier,,,,,,,,,,,,,,,,,,,,,
0,701-151-005-3057-005,1,1,1,0,0,1,1,0,1,1,...,1,1,5,0,1,0,0,1,1,1
1,701-151-005-3057-010,1,1,1,0,0,1,0,1,1,1,...,1,1,2,1,0,1,0,1,1,1
2,701-151-005-3057-014,1,1,1,0,0,1,0,1,1,1,...,1,1,1,1,0,1,0,1,1,1
3,701-151-005-3061-001,1,1,1,0,0,1,1,0,1,1,...,1,1,2,0,0,1,1,1,1,1
4,701-151-005-4949-001,1,1,1,0,0,1,0,0,1,1,...,1,2,0,0,0,1,1,1,1,1

In [33]:
# check if mandatory elements are present
mandatory_cols = ['Collection_count', 'Collection_Description_count', 'File_Name_count',
       'Title_count', 'Time_Period_count', 'Description_count', 'Type_count',
       'Genre_count', 'Form_count', 'Extent_count', 'Owning_Institution_count', 'Digital_Format_count', 'Digital_Origin_count']

### Missing mandatory elements - to be added

In [34]:
mandatory_df = df[mandatory_cols].copy()
missing_data = mandatory_df[mandatory_df.sum(axis=1) < 13]
missing_data

,,Collection_count,Collection_Description_count,File_Name_count,Title_count,Time_Period_count,Description_count,Type_count,Genre_count,Form_count,Extent_count,Owning_Institution_count,Digital_Format_count,Digital_Origin_count
,Identifier,,,,,,,,,,,,,
1,701-151-005-3057-010,1,1,1,1,1,0,1,1,1,1,1,1,1
2,701-151-005-3057-014,1,1,1,1,1,0,1,1,1,1,1,1,1
4,701-151-005-4949-001,1,1,1,1,1,0,1,1,1,1,1,1,1
491,701-151-005-3509-001,1,1,1,0,1,1,1,1,1,1,1,1,1

### Subjects analysis

In [47]:
subject_cols = ['Subject_Topic_count', 'Subject_Personal_Name_count', 'Subject_Corporate_Name_count', 'Location_count']
subject_df = df.copy()

In [48]:
# average # of subjects per record
subject_df['subject_sum'] = subject_df[subject_cols].sum(axis=1)
subject_df['subject_sum'].head()

   Identifier
0  701-151-005-3057-005    7
1  701-151-005-3057-010    4
2  701-151-005-3057-014    3
3  701-151-005-3061-001    3
4  701-151-005-4949-001    2
Name: subject_sum, dtype: int64

In [49]:
subject_df['subject_sum'].mean()

7.3600782778864975

In [50]:
subject_df['subject_sum'].max()

19

In [51]:
subject_df['subject_sum'].min()

2

In [52]:
# record with the most subjects
subject_df.loc[subject_df['subject_sum'].idxmax()]

Collection_count                 1
Collection_Description_count     1
Title_count                      1
Personal_Name_count              0
Corporate_Name_count             0
Role_count                       1
Description_count                1
Note_count                       1
Type_count                       1
Genre_count                      1
Form_count                       1
Language_count                   0
Rights_count                     0
Owning_Institution_count         1
Digital_Format_count             1
Digital_Origin_count             1
Time_Period_count                1
File_Name_count                  5
Subject_Topic_count              4
Subject_Personal_Name_count     13
Subject_Corporate_Name_count     1
Location_count                   1
Publisher_count                  1
Place_of_Publication_count       0
Extent_count                     5
Date_Created_count               0
Date_Issued_count                1
subject_sum                     19
Name: (209, 701-151-005-2933-001), dtype: int64