In [2]:
import pandas as pd
import numpy as np

fh = '../files/coll151_scores.csv'
df = pd.read_csv(fh, index_col=[0, 1])
df.head()

,,Collection_count,Collection_Description_count,Title_count,Personal_Name_count,Corporate_Name_count,Role_count,Description_count,Note_count,Type_count,Genre_count,...,File_Name_count,Subject_Topic_count,Subject_Personal_Name_count,Subject_Corporate_Name_count,Location_count,Publisher_count,Place_of_Publication_count,Extent_count,Date_Created_count,Date_Issued_count
,Identifier,,,,,,,,,,,,,,,,,,,,,
0,701-151-005-3057-005,1,1,1,0,0,1,1,0,1,1,...,1,1,5,0,1,0,0,1,1,1
1,701-151-005-3057-010,1,1,1,0,0,1,0,1,1,1,...,1,1,2,1,0,1,0,1,1,1
2,701-151-005-3057-014,1,1,1,0,0,1,0,1,1,1,...,1,1,1,1,0,1,0,1,1,1
3,701-151-005-3061-001,1,1,1,0,0,1,1,0,1,1,...,1,1,2,0,0,1,1,1,1,1
4,701-151-005-4949-001,1,1,1,0,0,1,0,0,1,1,...,1,2,0,0,0,1,1,1,1,1

In [11]:
# check if mandatory elements are present
mandatory_cols = ['Collection_count', 'Collection_Description_count', 'File_Name_count',
       'Title_count', 'Time_Period_count', 'Description_count', 'Type_count',
       'Genre_count', 'Form_count', 'Extent_count', 'Owning_Institution_count', 'Digital_Format_count', 'Digital_Origin_count']

### Missing mandatory elements - to be added

In [12]:
mandatory_df = df[mandatory_cols].copy()
missing_data = mandatory_df[mandatory_df.sum(axis=1) < 13]
missing_data

,,Collection_count,Collection_Description_count,File_Name_count,Title_count,Time_Period_count,Description_count,Type_count,Genre_count,Form_count,Extent_count,Owning_Institution_count,Digital_Format_count,Digital_Origin_count
,Identifier,,,,,,,,,,,,,
1,701-151-005-3057-010,1,1,1,1,1,0,1,1,1,1,1,1,1
2,701-151-005-3057-014,1,1,1,1,1,0,1,1,1,1,1,1,1
4,701-151-005-4949-001,1,1,1,1,1,0,1,1,1,1,1,1,1
491,701-151-005-3509-001,1,1,1,0,1,1,1,1,1,1,1,1,1